*,
*:before,
*:after {
  margin: 0;
  font-family: sans-serif;
}
* {
  list-style-type: none;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
}
section {
  width: 100%;
  height: 600px;
}
#button-ok,#button-rr{
  display:block;
  margin-left:150px;
  margin-top: -50px;
}
.header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  text-align: center;
  background-color:#003a63;
  color: #fff;
}
.imog{
  width:200px;
}
.imog:hover{
  background-color: gray;
}
.navigation {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color:#003a63;
  color: #fff;
  padding: 20px 50px;
  transition: all 0.5s ease;
  transform: translateY(-100%);
  z-index: 9999;
}
.navigation--relative {
  position: relative;
  top: 0px;
  transform: translateY(0%);
}
.navigation.is-fixed {
  position: fixed;
  widows: 100%;
  transform: translateY(0%);
}
.navigation__title img {
  width: 25px;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
}
#val {
  border-radius: 30%;
  background-color: rosybrown;
  margin-left: 20px;
}
.bg1 img {
  width: 120%;
  height: 600px;
  margin-top: -50px;
}

.welc {
  color: #003a63;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#panier a{
  margin-right:30px;
}

.pro p {
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
}
.selc {
  display: flex;
  justify-content: space-around;
}
.selc1 {
  margin-left: -250px;
}
.removi{
  margin-right:-50px;
}
.selc1 h3 {
  color: #003a63;
}
.inp input div {
  display: flex;
}
.group1 .card img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.group1 {
  margin-top: -140px;
  margin-right: -180px;
}
.group1 .card {
  width: 300px;
  margin-left: 80px;
}

.az {
  margin-top: 50px;
}
.group2 {
  padding-top: 20px;
}
.pagination {
  margin-left: 650px;
}

.inpp textarea {
  width: 300px;
  height: 150px;
}
.lor,
.res {
  color: #fff;
}
.res li :hover {
  color: red;
}
/*********************page   2************************/
 

@media only screen and (max-width: 400px) {
  .bg1 img {
    width: 400px;
    height: 250px;
  }
  section {
    height: 300px;
  }
  .pro p {
    margin-left: 5px;
    margin-right: 5px;
  }
  .card-group button {
    margin-left: 100px;
  }
  .card-group {
    justify-content: center;
    width: 90%;

    margin-left: 0px;
    margin-bottom: 10px;
  }
  .res li {
    margin-left: 100px;
    font-size: 20px;
  }

  .card {
    margin-top: 20px;
    
  }
 
  .b2 {
    margin-top: 150px;
  }
  .card-group img {
    width: 180px;
  }
  .group1 img {
    margin-left: 5px;
  }
  .card {
    padding-bottom: 10px;
  }
  .navigation {
    width: 400px;
  }
  .pagination {
    margin-left: 30px;
  }
}
footer {
  background-color: #003a63;
  margin-top: 20px;

  display: flex;
}
footer .map {
  width: 300px;
  padding-left: 50px;
  margin-top: 10px;
}
footer .inpp {
  margin-top: 10px;
  margin-left: 40px;
}
.inpp button {
  margin-right: 50px;
}
footer .res li {
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer .lor {
  margin-top: 20px;
}
